@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body, * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

.skeleton-box {
  display: inline-block;
  position: relative;
  overflow: hidden;
  background-color: #DDDBDD;
  border-radius: 8px;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
      90deg,
      rgba(#fff, 0) 0,
      rgba(#fff, 0.2) 20%,
      rgba(#fff, 0.5) 60%,
      rgba(#fff, 0)
    );
    animation: shimmer 5s infinite;
    content: '';
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}


.modal-custom {
  z-index: -9999;
  opacity: 0;
 
  &.show {
    display: flex;
    z-index: 1000;
    opacity: 1;
    
  }
  

  .modal-content {
    transform: scale(70%);
    opacity: 0;
    transition: all .3s ease-in;
    z-index: -9999;

    &.show {
      transform: scale(100%);
      opacity: 1;
      z-index: 1001;
    }
  }
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wrapper-hero {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  overflow: hidden;

  .hero-layout {
      position: absolute;
      display: grid;
      grid-template-columns: 0.3fr 0.7fr;

      width: 100%;
      height: 100%;

      top: 0;
      left: 0;

      @media only screen and (max-width: 768px){
          grid-template-columns: 0fr 1fr;
      }

      .hero-layout-bg::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
      }
      
      .hero-layout-bg::after {
          content: '';    
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
      } 
  }
}

.star-rating {
  display: flex;

  .title-rating {
      font-size: 2rem;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      color:#FD4;
  }
}

div.stars {
  width: auto;
  display: inline-block;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  font-family: "Font Awesome 5 Pro";
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\f005';
  font-family: "Font Awesome 5 Pro";
  color: #DDDBDD;
}