

.layout-card {
    position: relative;
    display: flex;
    flex-direction: column;

    height: 350px;
    border-radius: 8px;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

    cursor: pointer;
    overflow: hidden;

    .wrapper-poster {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        .background-gradient::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
        }
        
        .background-gradient::after {
            content: '';    
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
        } 
    }

    .wrapper-control {
        z-index: 10;
        position: absolute;
        bottom: 0;

        padding: 8px 12px;

        width: 100%;
        height: 30%;
        
        display: flex;
        flex-direction: column;
        align-items: center;

        .info {
            transition: all .3s ease;
            opacity: 1;

            .movie-name {
                text-align: center;
                font-size: 18px;
                font-weight: bold;
    
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                display: -webkit-box;
            }
    
            .time {
                text-align: center;
                font-size: 14px;
                font-weight: 600;
    
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                display: -webkit-box;
            }
        }
        

        .control {
            width: 100%;
            height: 100%;
            padding: 4px 10px;

            display: flex;
            justify-content: center;
            align-items: center;

            transition: all .3s ease;
            opacity: 0;
        }
    }

    &:hover {

        .info {
            transform: translateY(20px);
            opacity: 0;
            z-index: -1;
        }
       

        .control { 
            opacity: 1;
            z-index: 1;
            transform: translateY(-80%);
        }
    }
}